/* Uses border-box on all elements to ensure they are spaced correctly  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the background color on all pages to be #15253aff */
html,
body {
  background-color: #15253aff;
}

/* styles the links */
a:link { 
  /* change the color */
  color: #707070; 
  /* removes underline */
  text-decoration: none;
  /* changes weight of font */
  font-weight: 600; 
}

/* when the links are clicked, set the color to #55677e93 */
a:visited {
  /* color: #15253aff; */
  color: #41506493; 
}


/* add an underline to the links when hovered on */
a:hover {
  text-decoration: underline; 
}

/* styles the footer paragraph */
footer p {
  /* position is fixed at the bottom */
  position: fixed;
  /* align at left, right, bottom */
  left: 0;
  right: 0;
  bottom: 0;
  /* add padding */
  padding: 2em 0;
  /* align text to be at center */
  text-align: center;
  /* style the text */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.3vw;
  font-weight: 150;
  color: white;
}

/* Tablet Styling */
@media (min-width: 768px) {
  /* styles the footer paragraph */
  footer p {
    font-weight: 300;
    font-size: 1.25vw;
  }
}

/* Desktop Styling */
@media (min-width: 1024px) {
  /* styles the footer paragraph */
  footer p {
    font-size: 0.85vw;
  }
}