/* sets the margin so that the hamburger menu is not covering content */
.homePage{
    margin-left: 70px;
}

/* styles navigation menu (default) */
.nav_menu {
    /* hides the nagivation menu */
    display: none; 
    /* sets position to be fixed so that menu can be seen correctly when toggled */
    position: fixed;
    /* set left and top position so that hamburger icon is shown */
    top: 0;
    left: 60px; 
    /* set width and height for styling */
    width: 200px; 
    height: 100vh; 
    /* set background color to #15253aff */
    background-color: #15253aff; 
    /* ensures that the navigation menu is shown on top */
    z-index: 1000;
    list-style-type: none;
}

/* when hamburger icon is toggled (open), then display items as block */
.open {
    display: block; 
}  

/* styles the navigation items: display as block and set padding */
.nav_item{
    padding: 20px;
    display: block;
}

/* styles the navigation item text to have color white */
.nav_item p{
    color: white;
}

/* styles the hamburger icon */
.hamburger{
    /* sets color to white */
    color: white;  
    /* position is fixed */
    position: fixed;
    /* adds width and height */
    width: 60px;
    height: 100vh; 
    /* sets the background color to #15253aff */
    background-color: #15253aff; 
    /* ensures that that hamburger icon is shown on top */
    z-index: 1000; 
}

/* shows which page the user is on  */
.active{
    border-bottom: 5px solid #c5c7cb;
    width:fit-content;
}

/* -------------------------------------------------------------- */
/* GOALS PAGE */
.dashBoard {
    color: blue; /* Change this to any color you prefer */
    font-weight: bold;
    font-size: 24px; /* Adjust as needed */
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.square_box {
    background-color: #e5f1ef;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.square_box h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.square_box p {
    font-size: 14px;
    color: #666;
}

.square_box h3 {
    font-size: 24px;
    color: #d9534f;
    margin-top: 10px;
}

.line_chart {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: linear-gradient(to right, #aed581, #81c784, #4caf50);
    border-radius: 5px;
}
.square_box ul {
    list-style: none;
    text-align: left;
}

.square_box ul li {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.square_ box ul li span {
    float: right;
    color: #d9534f;
}

.budget_tracker {
    background-color: #2c3e50;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.budget_tracker h2 {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #b0c4de;
    margin-bottom: 15px;
    font-weight: normal;
}

.budget_tracker .total-expenses {
    font-size: 12px;
    color: #a3b1c4;
}

.budget_tracker .expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.budget_tracker .expense-item:last-child {
    border-bottom: none;
}

.icon {
    font-size: 18px;
    color: #a3b1c4;
    margin-right: 10px;
}

.expense-info {
    flex-grow: 1;
    margin-left: 10px;
}

.expense-info strong {
    display: block;
    font-size: 14px;
    color: #f2f2f2;
}

.expense-info p {
    font-size: 12px;
    color: #b0c4de;
    margin-top: 2px;
}

.expense-amount {
    font-size: 14px;
    color: #d9534f;
    text-align: right;
}

.expense-amount span {
    display: block;
    font-size: 12px;
    color: #a3b1c4;
    margin-top: 2px;
}
/* -------------------------------------------------------------- */

/* Tablet View at max-width of 768px */
@media (min-width: 768px) {
    /* sets the margin so that the hamburger menu is not covering content */
    .homePage{
        margin-left: 70px;
    }

    /* styles navigation menu (default) */
    .nav_menu {
        /* hides the nagivation menu */
        display: none; 
        /* sets position to be fixed so that menu can be seen correctly when toggled */
        position: fixed;
        /* set left and top position so that hamburger icon is shown */
        top: 0;
        left: 60px; 
        /* set width and height for styling */
        width: 200px; 
        height: 100vh; 
        /* set background color to #15253aff */
        background-color: #15253aff; 
        /* ensures that the navigation menu is shown on top */
        z-index: 1000;
        list-style-type: none;
    }
     
    /* when hamburger icon is toggled (open), then display items as block */
    .open {
        display: block; 
    }  
    
    /* styles the navigation items: display as block and set padding */
    .nav_item{
        padding: 20px;
        display: block;
    }

    /* styles the navigation item text to have color white */
    .nav_item p{
        color: white;
    }

    /* styles the hamburger icon */
    .hamburger{
        /* sets color to white */
        color: white;  
        /* position is fixed */
        position: fixed;
        /* adds width and height */
        width: 60px;
        height: 100vh; 
        /* sets the background color to #15253aff */
        background-color: #15253aff; 
        /* ensures that that hamburger icon is shown on top */
        z-index: 1000; 
    }

    /* shows which page the user is on  */
    .active{
        border-bottom: 5px solid #c5c7cb;
        width:fit-content;
    }
}

/* Desktop View at min-width of 1024px */
@media (min-width: 1024px) {
    /* NAVIGATION BAR */
    /* hides hamburger icon */
    .hamburger{
        display: none;
    }

    .nav_menu{
        display: contents;
    }

    /* styles are the navigation bar */
    .homeNavbar li{
        /* uses flex to display items */
        display: inline-block;
        /* sets the top margin to 2em so that there is spacing */
        margin-top: 2em;
        /* hides content that overflows */
        overflow: hidden;
        /* centers the items */
        margin-left: 8.5em;
        margin-bottom: -0.3em;
    }

    /* gives each item a margin of 50px to the right for better spacing */
    .nav_item{
        margin-right: 4px;
    }

    /* styles the items */
    .nav_item p{
        /* displays items on one line */
        display: inline-block; 
        /* add padding */
        padding: 16px 16px;
        /* increase font size */
        font-size: 15px;
        /* changes font color to white */
        color: #ffffff;
    }

    /* shows which page the user is on  */
    .active{
        /* adds a border under the active item */
        border-bottom: 10px solid #c5c7cb;
    }

    /* when item is hovered, make it bolder */
    .nav_item p:hover{
        font-weight: bolder;
    }

    /* styles the logo/icon */
    .img{
        /* position is absolute and we position it on the top left corner*/
        position: absolute;
        top: 8px;
        left: 16px;
    }
}

