/* CSS FOR ALL PAGES */

/* HOME PAGE */
/* sets background color as white for home page */
.homeMain{
  background-color: white;
}

/* sets the header of the home page to #15253aff */
.homeHeader{
  background-color: #15253aff;
}

/* -------------------------------------------------------------- */
/* LOGIN PAGE */
/* styles the background box of login page */
.login {
  /* sets background box color to white */
  background-color: #FFFFFF;
  /* round the edges of background box */
  border-radius: 1.5vh; 
  /* change width and height of background box */
  width: 29vw;
  height: auto;
  /* position is absolute and sets top and left positioning */
  position: absolute;
  top: 48vh;
  left: 50vw;
  /* aligns text to be centered */
  text-align: center;
  transform: translate(-50%, -50%); 
}

/* styles the title of login page */
.title h1 {
  /* gives a font-family to title */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  /* color is #15253A */
  color: #15253A;
  /* sets the margins */
  margin-top: 1em;
  margin-bottom: -1em;
  /* changes font-size */
  font-size: 2.1vw;
}

/* using https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
/* styles the input boxes of login page */
.input {
  /* sets background color of input boxes to white */
  background-color: white;
  /* adds a border and border radius */
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  /* adjust sizing of the input boxes */
  width: 90%;
  height: auto;
  margin-top: 1em; 
  padding: 0.6em;
  /* adjusts the text when user types in the input boxes */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 1vw;
  color: black;
} 

/* adds margin to text under login button */
.noAccount {
  margin-top: 2vh;
} 

/* centers everything inside of login page background */
.info {
  align-content: center;
  margin: 10% 7%;
}

/* positions the forgot password link */
.forgot { 
  /* sets margins */
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  margin-right: 1.1vw;
  /* positions it to the right */
  float: right;
}

/* -------------------------------------------------------------- */
/* SIGNUP PAGE */
/* styles the signup page */
.signup {
  /* sets background color to white */
  background-color: #ffffff;
  /* rounds the edges of the border */
  border-radius: 1.5vh; 
  /* changes the width and height */
  width: 29vw;
  height: auto;
  /* position is absolute and sets top and left positioning */
  position:absolute;
  top: 48vh;
  left: 50vw;
  /* aligns text to be centered */
  text-align: center;
  /* sets padding */
  padding-bottom: 2%;
  transform: translate(-50%, -50%); 
}

/* -------------------------------------------------------------- */
/* styles the innovation for impact icon on SIGNUP + LOGIN PAGE */
.img {
  /* sets the background color to #15253aff */
  background-color: #15253aff;
  /* rounds the edges all the way so that it is a circle */
  border-radius: 100%;
  /* adjusts sizing */
  width: 10vw;
  /* add a white border */
  border: solid white 0.1vw;
  /* sets margin at top */
  margin-top: -20%;
}

/* highlights the input boxes that have error messages associated with it */
.error, .signup .error_signup{
  border-color: red;
}

/* styles the error messages */
.errorMessage{
  /* sets the margin to be at correct spot*/
  margin: 5vh auto 1vh auto;
  /* sets background color and curves the edges of the box */
  background-color: rgb(255, 200, 210);
  border-radius: 0.5em;
  /* add width and height */
  width: 90%;
  height: auto;
  /* add padding */
  padding: 0.65em;
  /* align text to start on left */
  text-align: left;
  /* changes the font and text color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: bold;
  font-size: 1vw; 
  color: #7b7b7b !important;
}

/* positions the eye icon in password input fields */
.eye {
  /* relative position */
  position: relative;
  /* sets the location of eye icon */
  right: 2vw;
  margin-top: auto;
  margin-bottom: auto;
}

/* highlights the eye icon and x icon (in error messages) so that tab works and user knows where they are */
.eye:hover, .eye:focus, .eyeoff:hover, .eyeoff:focus, .x:hover, .x:focus, .x_signup:hover, .x_signup:focus {
  outline: 1px solid blue; 
}

/* positions the x icon in error messages on login page */
.x {
  /* position is absolute */
  position: absolute;
  /* sets the location of x icon */
  right: 4vw;
  margin-top: auto;
  margin-bottom: auto;
}

/* positions the x icon in error messages on signup page */
.x_signup {
  /* position is absolute */
  position: absolute;
  /* sets the location of x icon */
  right: 2vw;
  margin-top: auto;
  margin-bottom: auto;
}

/* sets the color of the input placeholder text to #a8a8a8 */
.login input::placeholder{
  color: #a8a8a8;
}

/* styles the login page button */
.login button {
  /* sets background color and border of login button to #BBEEAB*/
  background-color: #BBEEAB;
  border: 0px solid #BBEEAB;
  /* curves edges of the button */
  border-radius: 0.5em;
  /* adjusts width and height */
  width: 83%;
  height: auto;
  padding: 0.65em;
  /* styles the font in login button */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  font-size: 1vw; 
  color: #15253A;
}

/* styles signup page button */
.signup button {
  /* sets background color and border of login button to #BBEEAB*/
  background-color: #BBEEAB;
  border: 0px solid #BBEEAB;  
  /* curves edges of the button */
  border-radius: 0.5em;
  /* adjusts width and height */
  width: 50%;
  height: auto;
  padding: 0.65em;
  /* styles the font in signup button */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  font-size: 1vw; 
  color: #15253A;
  /* add a margin since there is text under button */
  margin-bottom: 5%;
}

/* when login + signup button is hovered, change the color and cursor */
.login button:hover, .signup button:hover {
  background-color: #aedea0;
  cursor: pointer;
}

/* styles the line under signup and login button */
.signup p, .login p {
  /* change color to #8d8b8b */
  color: #8d8b8b;
  /* adjust font */
  font-size: 1vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 350;
}

/* positions the logo to be relative */
.logo {
  position: relative;
}

/* PROVIDED CONTENT FROM BELOW - We did not write this! It came with the CSS file */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* TEMPORARY Mobile */
@media (min-width: 1px) and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  /* LOGIN PAGE */
  /* styles the background box of login page */
  .login {
    width: 80%;
  }

  /* styles the title of login page */
  .title h1 {
    /* margin-top: 0.5em; */
    margin-bottom: -2em;
    font-size: 4vw; /* FIX THIS */
  }

  /* styles the input boxes of login page */
  .input {
    width: 95%;
    font-size: 2.8vw;
  }

  /* adds margin to text under login button */
  .noAccount {
    margin-top: 1vh;
  } 

  /* centers everything inside of login page background */
  .info {
    align-content: center;
    margin: 10% 0;
  }

  .input {
    padding: 0.01 em;
    /* TODO: edit later */
  }

  /* positions the forgot password link */
  .forgot { 
    /* sets margins */
    margin-bottom: 1vh;
  }

  /* styles the login page button */
  .login button {
    /* adjusts width and height */
    width: 90%;
    height: auto;
    padding: 0.65em;
    /* styles the font in login button */
    font-size: 2.8vw; 
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 801px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .ifiLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
