/* CSS FOR ALL PAGES */

/* HOME PAGE */
/* sets background color as white for home page */
.homeMain{
  background-color: white;
}

/* -------------------------------------------------------------- */
/* LOGIN PAGE */
/* styles the background box of login page */
.login {
  /* sets background box color to white */
  background-color: #FFFFFF;
  /* round the edges of background box */
  border-radius: 1.5vh; 
  /* change width and height of background box */
  width: 80vw;
  height: auto;
  /* position is absolute and sets top and left positioning */
  position: absolute;
  top: 48vh;
  left: 50vw;
  /* aligns text to be centered */
  text-align: center;
  transform: translate(-50%, -50%); 
}

/* styles the title of login page */
.title h1 {
  /* gives a font-family to title */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  /* color is #15253A */
  color: #15253A;
  /* sets the margins */
  margin-top: 0.5em;
  margin-bottom: -1.7em;
  /* changes font-size */
  font-size: 4.2vw;
}

/* using https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
/* styles the input boxes of login page */
.input {
  /* sets background color of input boxes to white */
  background-color: white;
  /* adds a border and border radius */
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  /* adjust sizing of the input boxes */
  width: 95%;
  height: auto;
  margin-top: 1em; 
  padding: 0.6em;
  /* adjusts the text when user types in the input boxes */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 2.8vw;
  color: black;
} 

/* adds margin to text under login button */
.noAccount {
  font-size: 2vw;
  margin-top: 2vh;
  color: #676666 !important;
} 

/* centers everything inside of login page background */
.info {
  align-content: center;
  margin: 10% 0%;
}

/* positions the forgot password link */
.forgot { 
  /* font-size: 2vw??  */
  /* sets margins */
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  margin-right: 1.1vw;
  /* positions it to the right */
  float: right;
}

/* -------------------------------------------------------------- */
/* SIGNUP PAGE */
/* styles the signup page */
.signup {
  /* sets background color to white */
  background-color: #ffffff;
  /* rounds the edges of the border */
  border-radius: 1.5vh; 
  /* changes the width and height */
  width: 80vw;
  height: auto;
  /* position is absolute and sets top and left positioning */
  position: absolute;
  top: 48vh;
  left: 50vw; 
  /* aligns text to be centered */
  text-align: center;
  /* sets padding */
  padding-bottom: 2%;
  padding-top: 2%;
  transform: translate(-50%, -50%); 
}

/* -------------------------------------------------------------- */
/* styles the innovation for impact icon on SIGNUP + LOGIN PAGE */
.img {
  /* sets the background color to #15253aff */
  background-color: #15253aff;
  /* rounds the edges all the way so that it is a circle */
  border-radius: 100%;
  /* adjusts sizing */
  width: 25vw;
  height: auto; /* Maintain aspect ratio */
  /* add a white border */
  border: solid white 0.08vw;
  /* sets margin at top */
  margin-top: -20%;
}

/* highlights the input boxes that have error messages associated with it */
.error, .signup .error_signup{
  border-color: red;
}

/* styles the error messages */
.errorMessage{
  /* sets the margin to be at correct spot*/
  margin: 5vh auto 1vh auto;
  /* sets background color and curves the edges of the box */
  background-color: rgba(255, 200, 210, 0.748);
  border-radius: 0.5em;
  /* add width and height */
  width: 90%;
  height: auto;
  /* add padding */
  padding: 0.65em;
  /* align text to start on left */
  text-align: left;
  /* changes the font and text color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: bold;
  color: rgb(13, 22, 35) !important;
}

/* styles error messages specifically on Signup Page */
.errorMessageSignup {
  /* sets the margin to be at correct spot*/
  margin: 1vh auto 1vh auto;
  /* sets background color and curves the edges of the box */
  background-color: rgba(255, 200, 210, 0.748);
  border-radius: 0.5em;
  /* add width and height */
  width: 90%;
  height: auto;
  /* add padding */
  padding: 0.65em;
  /* align text to start on left */
  text-align: left;
  /* changes the font and text color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: bold;
  color: rgb(13, 22, 35) !important;
}

/* positions the eye icon in password input fields */
.eye {
  /* relative position */
  position: relative;
  /* sets the location of eye icon */
  right: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
}

/* positions the eye icon in password input fields on login page */
.eye_login {
  /* relative position */
  position: relative;
  /* sets the location of eye icon */
  right: -8em;
  top: -1.5em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
}

/* highlights the eye icon and x icon (in error messages) so that tab works and user knows where they are */
.eye:hover, .eye_login:hover, .eye:focus, .eye_login:focus, .eyeoff:hover, .eyeoff:focus, .x:hover, .x:focus, .x_signup:hover, .x_signup:focus {
  outline: 1px solid blue; 
}

/* positions the x icon in error messages on login page */
.x {
  /* position is absolute */
  position: absolute;
  /* sets the location of x icon */
  right: 5vw;
  top: 61.7%;
}

/* positions the x icon in error messages on signup page */
.x_signup {
  /* position is absolute */
  position: absolute;
  /* sets the location of x icon */
  right: 6vw;
  margin-top: auto;
  margin-bottom: auto;
}

/* styles the line under signup and login button */
.signup p, .login p {
  /* change color to #8d8b8b */
  color: #707070;
  /* adjust font */
  font-size: 2.8vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: 350;
  padding-bottom: 1vh;
}

/* sets the color of the input placeholder text to #a8a8a8 */
.login input::placeholder{
  color: #a8a8a8;
}

/* styles the login page button */
.login button {
  /* sets background color and border of login button to #BBEEAB*/
  background-color: #BDCFCC;
  border: 0px solid #BDCFCC;
  /* curves edges of the button */
  border-radius: 0.5em;
  /* adjusts width and height */
  width: 90%;
  height: auto;
  padding: 0.65em;
  /* styles the font in login button */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  font-size: 3.2vw; 
  color: #15253A;
}

/* styles signup page button */
.signup button {
  /* sets background color and border of login button to #BBEEAB*/
  background-color: #BDCFCC;
  border: 0px solid #BDCFCC;  
  /* curves edges of the button */
  border-radius: 0.5em;
  /* adjusts width and height */
  width: 50%;
  height: auto;
  padding: 0.65em;
  /* styles the font in signup button */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bold;
  font-size: 3.2vw;
  color: #15253A;
  /* add a margin since there is text under button */
  margin-bottom: 5%;
}

/* when login + signup button is hovered, change the color and cursor */
.login button:hover, .signup button:hover {
  background-color: #699385;
  cursor: pointer;
}

/* positions the logo to be relative */
.logo {
  position: relative;
}

/* adjust the size of the eye icon */
.icon {
  width: 1vw;
  height: 1vw;
  margin-left: -1em;
}

/* Tablet Styling */
@media (min-width: 768px) {
  .login {
    width: 50%;
  }

  .title h1 {
    margin-top: 1em;
    margin-bottom: -1.7em;
    font-size: 2.7vw;
  }

  .input {
    font-size: 1.8vw;
    width: 90%;
    margin-left: 10px;
  }

  .input_password {
    margin-left: 10px;
    width: 100%;
  }

  .form label, .form p, .signup p, .login p {
    font-size: 1.8vw;
  }

  .login button, .signup button {
    font-size: 2vw;
  }

  .img {
    border-width: 0.16vw;
    width: 15vw;
  }

  .x {
    right: 4vw;
    top: 64.2%;
  }

  .signup {
    width: 55vw;
  }

  .x_signup {
    right: 4vw;
  }

  .eye {
    right: 1.5em; 
  }

  .eye_login {
    right: 1.5em;
    top: 0em;
  }
}

/* Desktop Styling */
@media (min-width: 1024px) {
  /* Flora move desktop styling HERE */
  .login {
    width: 30vw;
    height: auto;
  }

  .title h1 {
    margin-bottom: -1em;
    font-size: 2vw;
  }

  .input {
    width: 90%;
    font-size: 1vw;
    margin-left: -2px;
  }

  .input_password {
    margin-left: -2px;
    width: 100%;
  }

  .noAccount {
    margin-top: 1vw;
  }

  .info {
    margin: 10% 7%;
  }

  .forgot {
    margin-bottom: 2vh;
  }

  .form label, .form p, .singup p, .login p {
    font-size: 1vw;
  }

  .eye {
    right: 2em;
  }

  .login button {
    width: 83%;
    font-size: 1vw;
  }

  .signup button {
    font-size: 1vw; 
  }

  .img {
    border-width: 0.1vw;
    width: 10vw;
  }

  .x {
    top: 66.5%;
  }

  .signup {
    width: 35vw;
  }

  .x_signup {
    right: 2vw;
  }

  /* sets the header of the home page to #15253aff */
  .homeHeader{
    background-color: #15253aff;
  }
}
