/* mobile view */
@media (min-width: 320px) {
    /* styles the profile icon */
    .profile_icon {
        width: 6em;
        height: auto;
        margin-top: 3em;
        margin-left: 4.5em;
        border: 3px #3B5C68 solid;
        border-radius: 100%;
    }

    .name {
        margin-left: 6.7em;
        margin-top: 0.5em;
        font-size: 0.9em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    .pronouns {
        margin-left: 9.9em;
        margin-top: 0.2em;
        font-size: 0.6em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    /* style profile buttons */
    .groups_button, .friends_button {
        /* sets background color and border of login button to #BBEEAB*/
        background-color: #37445E;
        border: 0px solid #37445E;
        /* curves edges of the button */
        border-radius: 0.5em;
        /* adjusts width and height */
        width: 15%;
        height: auto;
        padding: 0.65em;
        /* styles the font in login button */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: 2vw; 
        color: #ffffff;

        /* add spacing */
        margin-left: 1.7em;
        margin-top: 1em;

        cursor: pointer;
    }

    .groups_button {
        margin-left: 11.5em;
    }

    /* style notification icon */
    .notifications_icon{
        margin-left: 6em;
        margin-top: 0.5em;
        cursor: pointer;
    }   

    /* style settings icon */
    .settings_icon {
        margin-left: 0.5em;
        cursor: pointer;
    }

    .notifications_icon, .settings_icon {
        color: #3B5C68;
    }

    /* style card container */
    .card_container {
        background-color: #3B5C68;
        border-radius: 0.5em;

        width: 95%;
        height: auto;
        overflow: hidden;
        
        margin-left: 0.2em;
        margin-top: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    .card_stack {
        position: relative;
        width: 100px; 
        perspective: 1000px; 
        margin-left: -0.8em;
    }

    .row {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    .card_title_container {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: 1em; 
        color: #ffffff;
    }

    .card_plus_icon {
        color: white; 
        cursor: pointer;
    }

    .card_plus_icon:hover {
        font-size: larger;
    }

    /* style cards */
    .card {
        background-color: white;
        border-radius: 0.5em;

        width: 200%;
        height: auto;

        margin-top: 1em;
        padding: 1em;
        padding-bottom: 3em;

        position: absolute;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, z-index 0.3s ease;
        background: linear-gradient(135deg, #699385 0%, #BDCFCC 100%);
    }

    .card_body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        color: #10223F;
    }

    .card_title {
        font-size: 0.7em;
    }

    .card_text {
        margin-top: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }

    /* style transfer button */
    .transfer_button {
        color: #262626;

        /* sets background color and border of login button to #BBEEAB*/
        background-color: #EEFBF3;
        border: 0px solid #EEFBF3;
        /* curves edges of the button */
        border-radius: 0.5em;
        /* adjusts width and height */
        width: 30%;
        height: auto;
        padding: 0.65em;
        /* styles the font in login button */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: 0.5em; 

        /* add spacing */
        margin-left: 7em;
        margin-top: 1em;

        cursor: pointer;
    }

    .previous_button, .next_button {
        color: #262626;
        background-color: #BDCFCC;
        border: 0px solid #BDCFCC;
        border-radius: 0.5em;
        width: 30%;
        height: auto;
        padding: 0.65em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        font-size: 0.3em;
        margin-left: 2em;
        cursor: pointer;
    }

    .previous_button {
        margin-left: 5em;
    }

    .transaction_container {
        background-color: #37445E;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        color: #EEFBF3;
        border-radius: 0.5em;

        width: 95%;
        height: auto;
        overflow: hidden;
        
        margin-left: 0.2em;
        margin-top: 1.5em;
        padding-left: 1em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .transaction_title_container {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .transaction_date, .transaction_fromTo, .transaction_desc, .transaction_amt {
        font-size: 0.8em;
        padding-right: 1em;
        padding-top: 1em;
    }

    .table {
        display: block;
        /* adds horizontal scroll */
        overflow-x: auto;
        white-space: nowrap;
    }
}

/* mobile view M */
@media (min-width: 375px) {
    .groups_button {
        margin-left: 13em;
    }

    .profile_icon {
        margin-left: 6.5em;
    }

    .name {
        margin-left: 8.9em;
    }

    .pronouns {
        margin-left: 13.2em;
    }

    .notifications_icon {
        margin-left: 8.1em;
    }

    .card1_title, .card2_title {
        font-size: 0.9em;
    }

    .card1_text, .card2_text {
        font-size: 1.5em;
    }

    .transfer_button {
        font-size: 0.7em;
    }

    .card {
        margin-left: 1.5em;
    }

    .previous_button {
        margin-left: 9em;
    }
}

/* mobile view L */
@media (min-width: 425px) {
    .profile_icon {
        margin-left: 8em;
    }

    .name {
        margin-left: 10.8em;
    }

    .pronouns {
        margin-left: 16em;
    }

    .groups_button {
        margin-left: 13em;
    }

    /* style notification icon */
    .notifications_icon{
        margin-left: 9.5em;
    }   

    /* style settings icon */
    .settings_icon {
        margin-left: 0.5em;
    }

    .card_title_container {
        font-size: 4.5vw; 
    }

    /* style cards */
    .card {
        width: 250%;
        padding-bottom: 5em;
        margin-left: 1.5em;
    }

    .previous_button {
        margin-left: 10.5em;
    }

    .transfer_button {
        margin-left: 8.5em;
    }
}

/* tablet view */
@media (min-width: 768px) {
    .profile_icon {
        width: 10em;
        margin-top: 4em;
        margin-left: 17em;
    }

    .name {
        margin-left: 18.5em;
        margin-top: 0.5em;
        font-size: 1.1em;
    }
    
    .pronouns {
        margin-left: 22em;
        margin-top: 0.2em;
        font-size: 0.9em;
    }

    .groups_button, .friends_button {
        width: 12%;
        height: auto;

        font-size: 1.6vw; 
    }

    .groups_button {
        margin-left: 20.5em;
    }

    .notifications_icon, .settings_icon {
        font-size: 1.5em;
    }

    .notifications_icon {
        margin-left: 13.2em;
    }

    .card_container {
        border-radius: 1em;

        width: 80%;
        height: auto;
        
        margin-left: 4em;
    }

    .card_title_container {
        font-size: 1.5em;
    }

    .card_plus_icon {
        font-size: 1.3em;
    }

    /* style cards */
    .card {
        width: 400%;
        padding-bottom: 7em;
        margin-left: 3.5em;
    }

    .previous_button, .next_button {
        margin-top: 10em;

        width: 15%;
        height: auto;

        font-size: 0.5em;
    }

    .previous_button {
        margin-left: 21.5em;
    }

    .card_title {
        font-size: 1em;
        margin-top: 1em;
    }

    .card_text {
        font-size: 1.8em;
    }

    /* style transfer button */
    .transfer_button {
        width: 20%;
        height: auto;

        font-size: 0.7em; 

        /* add spacing */
        margin-left: 18em;
    }

    .transaction_container {
        border-radius: 1em;

        width: 80%;
        height: auto;
        
        margin-left: 4em;
        overflow: hidden;

        margin-top: 1.5em;
        padding-left: 2em;
    }

    .transaction_title_container {
        font-size: 1.5em;
    }

    .transaction_date, .transaction_fromTo, .transaction_desc, .transaction_amt {
        font-size: 1em;
        padding-right: 3em;
        padding-top: 1.5em;
    }
}

/* desktop view */
@media (min-width: 1024px) {
    .profile_icon {
        width: 13em;
        margin-top: 9em;
        margin-left: 5em;
    }

    .name {
        margin-left: 8.1em;
        margin-top: 1em;
        font-size: larger;
    }
    
    .pronouns {
        margin-left: 9.2em;
        margin-top: 0.5em;
        font-size: medium;
    }

    .groups_button {
        margin-left: 3em;
    }

    .notifications_icon, .settings_icon {
        font-size: 1.7em;
    }

    .notifications_icon {
        margin-left: 5.5em;
    }

    .card_container {
        width: 56%;
        height: auto;
        margin-top: 5em;
    }

    .card_plus_icon {
        font-size: 1.5em;
    }

    /* style cards */
    .card {
        border-radius: 1em;
        padding-bottom: 7em;
        margin-left: 3em;
    }

    /* style transfer button */
    .transfer_button {
        width: 25%;
        height: auto;

        /* add spacing */
        margin-left: 16em;
    }

    .container {
        display: flex;
    }

    .groups_button, .friends_button {
        width: 25%;
        height: auto;

        font-size: 1.2vw; 
    }

    .groups_button {
        margin-left: 8em;
    }

    .previous_button {
        margin-left: 20em;
    }

    .transaction_container {
        border-radius: 1em;

        width: 86%;
        height: auto;
        
        margin-left: 4em;

        margin-top: 3em;
        padding-left: 2em;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    .transaction_title_container {
        font-size: 1.5em;
    }

    .transaction_date, .transaction_fromTo, .transaction_desc, .transaction_amt {
        font-size: 1.2em;
        padding-right: 5em;
        padding-top: 1.5em;
    }
}

/* desktop large view */
@media (min-width: 1440px) {
    .groups_button, .friends_button {
        /* adjusts width and height */
        width: 30%;
        height: auto;

        font-size: 1.2vw; 
    }

    .groups_button {
        margin-left: 4.5em;
    }

    .notifications_icon, .settings_icon {
        font-size: 2em;
    }

    .notifications_icon {
        margin-left: 4.5em;
    }

    .card_container {
        width: 50%;
        height: auto;
        margin-top: 5em;
        margin-left: 15em;
    }

    .card_plus_icon {
        font-size: 1.6em;
    }

    .card_title_container {
        font-size: 1.6em;
    }

    .card_title {
        font-size: 1.2em;
    }

    .card_text {
        font-size: 2.5em;
    }

    /* style cards */
    .card {
        width: 500%;
        height: auto;
        padding-bottom: 9em;
        margin-left: 5em;
        margin-bottom: 10em;
    }

    .previous_button, .next_button {
       margin-top: 15em;
       font-size: 0.7em;
    }

    .previous_button {
        margin-left: 19em;
    }

    /* style transfer button */
    .transfer_button {
        margin-left: 15em;
        font-size: 1em;
    }

    .transaction_container {
        width: 84%;
        height: auto;
    }

    .transaction_title_container {
        font-size: 1.7em;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        border-bottom: 0.5px dashed #ddd;
        margin-right: 0.7em;
    }

    .transaction_date, .transaction_fromTo, .transaction_desc {
        font-size: 1.1em;
        padding-right: 12.5em;
        padding-top: 2em;
    }

    .transaction_amt {
        font-size: 1.1em;
        padding-top: 2em;
    }

    .transaction_date, .transaction_fromTo, .transaction_desc, .transaction_amt {
        border-bottom: 0.5px dashed #ddd;
        padding-bottom: 1em;
    }
}