/* border of forgot password box, ensures correct spacing too*/
.forgot {
  /* color and border size of outer box */
  background-color: #FFFFFF;
  border: solid 0em;
  border-radius: 1.5vh; 
  /* width is set for outer box and height is auto */
  width: 35vw;
  height: auto;
  /* position is absolute and the text will be aligned to the center */
  position:absolute;
  text-align: center;
  /* top and left alignment of the border and box */
  top: 48vh;
  left: 50vw;
  transform: translate(-50%, -50%); 
}
/*elements of the header FORGOT PASSWORD*/
.forgot h1 {
  /*colors and font type of header*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #15253A;
  /*alignment of the header to see the gap between top of border and box below header*/
  margin-top: 2em;
  margin-bottom: 1em;
  /*font size of the header*/
  font-size: 1.2vw;
}
  
/* formatting for box where email would be inputted */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
.input {
  /* color of box and sizing */
  background-color: white;
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  width: 90%;
  height: auto;
  /* padding on all sides of box and margins for spacing */
  margin-top: 10px; 
  margin-bottom: 25px; 
  padding-left: 0.6em; 
  padding-right: 0.6em; 
  padding-bottom: 0.6em; 
  padding-top: 0.6em; 
  /* color, size, and font type for box to input email */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1vw;
  color: black;
} 

/* placeholder color for email input text */
.forgot input::placeholder{
  color: #a8a8a8;
}

/* styles of the submit button */
.forgot button {
  /* color of the button and border size below */
    background-color: #BBEEAB;
    border: 0px solid #BBEEAB;  /* 0.06em */
    border-radius: 0.5em;
    width: 83%;
    height: auto;
    /* padding and margin in between submit button for spacing */
    padding: 0.65em;
    margin-bottom: 10px; 
    /* font type and sizes, as well as color for text in button */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: bold;
    font-size: 1vw; 
    color: #15253A;
}
/* features for hovering for submit button on forgot password page */
.forgot button:hover {
  background-color: #aedea0;
  cursor: pointer;
}

/* takes care of text and spacing for return to login part of forgot password page */
.forgot p {
  /* color and font size of text */
  color: #8d8b8b;
  font-size: 1vw;
  /* padding for right amount of spacing between button and bottom of large box */
  padding-bottom: 20px; 
  padding-left: 25px; 
  padding-right: 25px;
  /* font type for text and how bold it is */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 350;
}

/* TEMPORARY Mobile */
@media (min-width: 1px) and (max-width: 800px) {
  .forgot {
    width: 80%;
  }

  .forgot h1 {
    font-size: 3.4vw;
  }

  .input {
    font-size: 2.8vw;
  }

  .forgot button {
    font-size: 2.8vw;
  }

  .forgot p {
    font-size: 2.8vw;
  }


}