/* styling the logo */
.img {
  background-color: #15253aff;
  border-radius: 100%;
  width: 10vw;
  padding: -1vw;
  border: solid white 0.1vw;
  margin-top: -20%;
  max-width: 100%;
}

/* styling of the title of the text on signup page */
.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #15253aff;
  font-size: 0.8vw;
  text-align: left;
  margin-top: -10%;
  margin-left: 7%;
}

/* positions the last name input box */
.inputName {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

/* styling for first name label */
.inputBox1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: left;
  margin-left: 7%;
  color: #b3b2b2; 
}

/* positions/styles the first name input box */
.inputBox1 input{
  background-color: white;
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  width: 80%;
  height: auto;
  margin-top: 0.3em; 
  padding: 0.6em;
}

/* styling for last name label */
.inputBox2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: left;
  color: #b3b2b2; 
}

/* positions/styles the last name input box */
.inputBox2 input{
  background-color: white;
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  width: 80%;
  height: auto;
  margin-top: 0.3em; 
  padding: 0.6em;
  margin-bottom: 1em; 
}

/* styles email and passwords labels */
.inputInfo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

/* positions email and passwords input boxes */
.inputBox, .inputBoxPass{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-align: left;
  margin-left: 7%;
  color: #b3b2b2; 
}

/* adds space between the input boxes */
.inputBox input{
  background-color: white;
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  width: 90%;
  height: auto;
  margin-top: 0.3em; 
  margin-bottom: 1em; 
  padding: 0.6em;
}

/* adds space between the input boxes */
.inputBoxPass input{
  background-color: white;
  border: 0.06em solid #b3b2b2; 
  border-radius: 0.5em;
  width: 90%;
  height: auto;
  margin-top: 0.3em; 
  margin-bottom: 1em; 
  padding: 0.6em;
}

/* styles checkbox text */
.checkbox label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #b3b2b2; 
  margin-left: 5%;
}

/* positions checkbox */
.checkbox{
  margin-bottom: 5%;
}