/* styling the logo */
.img {
  background-color: #15253aff;
  border-radius: 100%;
  width: 10vw;
  padding: -1vw;
  border: solid white 0.1vw;
  margin-top: -20%;
  max-width: 100%;
 }
 
 /* styling of the title of the text on signup page */
 .title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #15253aff;
  font-size: 3.0vw;
  text-align: left;
  margin-top: -10%;
  margin-left: 7%;
 }
 
 
 /* styles the input labels */
 .formLabel {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  color: #676666;
  font-size: 2.8vw;
 }
 
 /* styles the first name label */
 .inputBox1 {
  margin-top: 5%;
 }
 
 
 /* styles the input boxes: names + email */
 .inputBox1 input, .inputBox2 input, .inputBox3 input {
  width: 85%;
  height: auto;
  margin-top: 0.3em;
 }

 /* styles the password labels */
 .inputBox4 , .inputBox5 {
  margin-top: 3%;
 }

  /* styles the input boxes: passwords */
 .inputBox4 input, .inputBox5 input {
  width: 85%;
  margin-left: 1em;
  height: auto;
  margin-top: 0.3em;
 }
 
 /* styles the text by the checkbox */
 .checkbox label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #676666;
  margin-left: 5%;
  font-size: 2.8vw;
 }
 
 
 /* positions the checkbox text */
 .checkbox{
  margin-bottom: 2.5%;
  margin-top: 2%;
 }
 
 
 /* Tablet Styling */
 @media (min-width: 768px) {
  .title {
    margin-top: -5%;
    font-size: 1.8vw;
  }
 
 
  .checkbox label {
    font-size: 1.8vw;
  }
 
 
  .inputName {
    font-size: 1vw;
  }
 
 
  .inputBox1 input, .inputBox2 input, .inputBox input, .inputBoxPass input {
    margin-left: -0.2vw;
    margin-bottom: 1vw;
  }
 }
 
 
 /* Desktop Styling */
 @media (min-width: 1024px) {
  /* fix zooming in and input boxes getting messed up issue */
  .title {
    margin-top: -10%;
    font-size: 1vw;
  }
 
 
  .checkbox label {
    font-size: 1vw;
  }
 
 
  .inputName {
    font-size: 1vw;
    margin-bottom: -1vw;
  }
 
 }
 
